@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-leah : "Fleur De Leah", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}
.forced-border
{
  border: white 1px solid;
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadein-up {
  animation: fade-in-up 2s ease-out;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.animate-fade-out {
  animation: fade-out 1s ease-out forwards;
  animation-delay: 3s;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}
.navlink
{
  position: relative;
}
.navlink::before
{
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 2px;
  width: 0;
  right: 0;
  top: -9px;
  transition: 0.3s;
}
.navlink:hover::before
{
  width: 100%;
}
.navlink::after
{
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}
.navlink:hover::after
{
  width: 100%;
}
@keyframes slide-in {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out forwards;
}